
.listItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    min-width: 150px;
    width: fit-content;
}

ul {
  list-style: none;
  padding: 6px 12px;
  margin: 0;
  width: fit-content;
}

.deleteButton {
    width: 18px;
    height: 18px;
    cursor: pointer;
    align-self: center;
    border-radius: 100%;
    border: none;
    font-size: 10px;
    font-weight: 500;
    color: #866335;
    background-color: #e7cba8;
}

.textItem {
    align-self: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #866335;
    font-size: 16px;
}

.baseline {
    width: auto;
    background-color: #e0c096;
    height: 1px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #faebd7;
}

#titulo {
    font-family: Verdana;
    color: #866335;
}
